// 
// Contact
// 

.contact-section {
    padding-top: 5rem;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.9)} 0%,
        #{fade-out($black, 0.5)} 75%,
        $black 100%),
    url("../assets/img/bg-contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    .quote {
        font-size: 1.2rem;
        font-family: monospace;
        font-weight: bold;
        color: $white;
        text-shadow: 1px 1px 4px $black;
        padding: 1rem;
        margin: 2rem 0;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
            padding: -2rem 10px 0;
        }

        footer {
            font-size: 1.2rem;
            font-style: normal;
            font-family: monospace;
            font-weight: bold;
            text-shadow: 1px 1px 4px $black;
            color: $primary;
            margin-top: 2px;
            padding-bottom: 2rem;

            @include media-breakpoint-up(md) {
                font-size: 1.8rem;
            }
        }
    }

    .card {
        border: 0;
        border-bottom: 0.25rem solid $primary;
        background-color: $custom-lighter-gray;

        h4 {
            font-size: 0.8rem;
            font-family: $font-family-special;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }

        hr {
            opacity: 1;
            border-color: $primary;
            border-width: 0.25rem;
            width: 3rem;
        }
    }

    .social {
        margin-top: 5rem;

        a {
            text-align: center;
            height: 3rem;
            width: 3rem;
            background: fade-out($white, 0.9);
            border-radius: 100%;
            line-height: 3rem;
            color: fade-out($white, 0.7);

            &:hover {
                color: fade-out($white, 0.5);
            }

            &:active {
                color: $white;
            }
        }
    }
}