doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio website for Domen Hribernik, showcasing projects and contact information.')
        meta(name='author', content='Domen Hribernik')

        title Domen Hribernik

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        link(rel="preload" fetchpriority="high" as="image" href="assets/img/bg-masthead.png" type="image/webp")

    body#page-top

        // Preloader
        div#loading-overlay
            .loading-spinner
            
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top(role='navigation')
            .container.px-4.px-lg-5
                a.navbar-brand#logo(href='#page-top', aria-label='Domen Hribernik') Domen Hribernik 
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about' aria-label='About' )
                                span.lang-eng About
                                span.lang-slo O Meni
                        li.nav-item
                            a.nav-link(href='#projects' aria-label='Projects') 
                                span.lang-eng Projects
                                span.lang-slo Projekti
                        li.nav-item
                            a.nav-link(href='#contact' aria-label='Contact') 
                                span.lang-eng Contact
                                span.lang-slo Kontakt
                    .language-switch
                        .switch-text
                            span.eng-text.active ENG
                            span.slo-text SLO
                        input#langToggle(type='checkbox')
                        span.slider
        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0 Domen Hribernik
                        h2.text-white-50.mx-auto.mt-2.mb-5
                            span.lang-eng Developer &amp; Tech Enthusiast
                            span.lang-slo Razvijalec &amp; Ljubitelj Tehnologije
                        a.btn.btn-primary(href='#about' aria-label='About Me')
                            span.lang-eng About Me
                            span.lang-slo O Meni

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4
                            span.lang-eng About Me
                            span.lang-slo O meni
                        p.text-white-50
                            span.lang-eng
                                | I'm a Computer Science student at the University of Maribor, Slovenia. I have a deep passion for technology and innovation, specializing in programming, software development, and problem-solving. I am always eager to apply my skills and collaborate on exciting projects. Let's work together to achieve your goals!
                            span.lang-slo
                                | Sem študent računalništva na Univerzi v Mariboru. Navdušujejo me tehnologija in inovacije, s poudarkom na programiranju, razvoju programske opreme in reševanju kompleksnih problemov. Vedno sem pripravljen uporabiti svoje znanje za sodelovanje pri navdihujočih projektih. Skupaj lahko dosežemo vaše cilje!
                        a.btn.btn-primary(href='#projects' aria-label='My Projects')
                            span.lang-eng My Projects
                            span.lang-slo Moji Projekti
                img.img-fluid(src='assets/img/fog.png', alt='...')

        // Projects
        section#projects.projects-section
            .container.px-4.px-lg-5
                h2.text-black.mb-4.text-center
                    span.lang-eng My Projects
                    span.lang-slo Moji Projekti
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-7.col-lg-6
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/project1.jpg', alt='...', style='border-radius: 10px;')
                    .col-xl-5.col-lg-6
                        .featured-text.text-center.text-lg-left
                            h4 Vita Mavrič Portfolio
                            p.text-black-50.mb-0
                                span.lang-eng This project showcases a custom-built, responsive website for Vita Mavrič, built in HTML, CSS and vanilla JavaScript (Vanilla Stack).
                                span.lang-slo Ta projekt predstavlja po meri custom-built, responsive spletno stran za Vito Mavrič, izdelano z uporabo HTML, CSS in JavaScript (Vanilla Stack).
                                
                                a(href="https://vitamavric.com" target="_blank" aria-label="Website") vitamavric.com

                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        video.img-fluid(src='assets/video/run.mp4', autoplay, loop, muted, playsinline)
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white
                                        span.lang-eng Virtual Runner (Thesis)
                                        span.lang-slo Virtual Runner (Diploma)
                                    div.mb-0.text-white-50
                                        span.lang-eng
                                            p My thesis focuses on creating a digital twin of a runner. This project integrates multiple subprojects into a unified application to demonstrate the practical use of various technologies. The application consists of:
                                        span.lang-slo
                                            p Moja diplomska naloga se osredotoča na izdelavo digitalnega dvojčka tekača. Projekt združuje več podprojektov v enotno aplikacijo, ki prikazuje praktično uporabo različnih tehnologij. Aplikacija vsebuje podprojekte:
                                        a.text-white-50.ml-1(href='thesis.html') Read More

                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/project2.jpg', alt='...', style='border-radius: 10px;')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Gašper Stražišar Portfolio
                                    p.mb-0.text-white-50.mt-2
                                        span.lang-eng.mb-3
                                            | This project showcases a custom-built, responsive website for Gašper Stražišar, developed in WordPress.
                                        span.lang-slo.mb-3
                                            | Ta projekt predstavlja po meri izdelano, odzivno spletno stran za Gašperja Stražišarja, razvito v WordPressu.
                                        a.text-white-50.ml-1(href='https:/gasperstrazisar.com', target='_blank' aria-label='Gasper Strazisar') gasperstrazisar.com

                // Project Three Row
                .row.gx-0.justify-content-center
                    .col-lg-6.order-lg-first
                        video.img-fluid(src='assets/video/wordle.mp4', autoplay, loop, muted, playsinline)
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Wordle Bot
                                    p.mb-0.text-white-50.mt-2
                                        span.lang-eng.mb-3
                                            | A Python bot for the game Wordle that uses algorithmic strategies to solve puzzles efficiently. This project demonstrates the application of AI techniques to play and solve word games.
                                        span.lang-slo.mb-3
                                            | Python bot za igro Wordle, ki uporablja algoritmične strategije za učinkovito reševanje problemov. Ta projekt prikazuje uporabo umetne inteligence za igranje in reševanje besednih iger.
                                        a.text-white-50.ml-1(href='https://github.com/domenhribernik/wordle-bot', target='_blank' aria-label='GitHub') GitHub

        // Contact
        section#contact.contact-section
            .container-fluid.py-5.quote
                .row.justify-content-center
                    .col-lg-8
                        blockquote.blockquote.text-center
                            p.mb-0 "Work like you don't need the money. Love like you've never been hurt. Dance like nobody's watching."
                            footer.blockquote-footer Satchel Paige
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 
                                    span.lang-eng Location
                                    span.lang-slo Lokacija
                                hr.my-4.mx-auto
                                .small.text-black-50 
                                    span.lang-eng Celje, Slovenia
                                    span.lang-slo Celje, Slovenija
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:contact@domenhribernik.com' aria-label='contact@domenhribernik.com') contact@domenhribernik.com 
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-graduation-cap.text-primary.mb-2
                                h4.text-uppercase.m-0 
                                    span.lang-eng Education
                                    span.lang-slo Izobrazba
                                hr.my-4.mx-auto
                                .small.text-black-50 
                                    span.lang-eng Computer Science Student
                                    span.lang-slo Študent računalništva
                                .small.text-black-50
                                    span.lang-eng University of Maribor
                                    span.lang-slo Univerza v Mariboru
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://github.com/domenhribernik' target='_blank')
                        i.fab.fa-github
                    a.mx-2(href='https://www.instagram.com/domen_hribernik/' target='_blank')
                        i.fab.fa-instagram
                    a.mx-2(href='https://www.linkedin.com/in/domen-hribernik-4081a121b/' target='_blank')
                        i.fab.fa-linkedin
                    a.mx-2(href='https://domenhribernik.com/music.html' target='_blank')
                        i.fas.fa-music

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Domen Hribernik <span id="currentYear"></span>

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js' defer)

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
