doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Domen Hribernik

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand#logo(href='#page-top') Domen Hribernik
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#projects') Projects
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0 Domen Hribernik
                        h2.text-white-50.mx-auto.mt-2.mb-5 Developer &amp; Tech Enthusiast
                        a.btn.btn-primary(href='#about') About Me

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 About Me
                        p.text-white-50
                            | I'm a Computer Science student at the University of Maribor, Slovenia. I have a deep passion for technology and innovation, specializing in programming, software development, and problem-solving. I am always eager to apply my skills and collaborate on exciting projects. If you're looking for a dedicated and innovative partner to bring your ideas to life, let's work together to achieve your goals.
                        a.btn.btn-primary(href='#projects') My Projects
                img.img-fluid(src='assets/img/fog.png', alt='...')

        // Projects
        section#projects.projects-section.bg-light
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/project1.jpg', alt='...', style='border-radius: 10px;')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Vita Mavrič Portfolio
                            p.text-black-50.mb-0
                                | This project showcases a custom-built, responsive website for Vita Mavrič, built in vanilla JavaScript.
                                a(href="https://vitamavric.com" target="_blank") Website
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/project2.jpg', alt='Snake Game').border
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Sudoku
                                    p.mb-0.text-white-50
                                        | A classic Sudoku game developed in JavaScript, offering a fun and challenging way to test your logic and problem-solving skills. The project showcases my ability to create interactive web applications with a focus on user experience and functionality.
                                        a.text-white-50.ml-1(href='https://github.com/domenhribernik/Sudoku', target='_blank') GitHub

                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        video.img-fluid(src='assets/img/wordle.mp4', autoplay, loop, muted, playsinline)
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Wordle Bot
                                    p.mb-0.text-white-50
                                        | A Python bot for the game Wordle that uses algorithmic strategies to solve puzzles efficiently. This project demonstrates the application of AI techniques to play and solve word games.
                                        a.text-white-50.ml-1(href='https://github.com/domenhribernik/wordle-bot', target='_blank') GitHub

        // Contact
        section#contact.contact-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Location
                                hr.my-4.mx-auto
                                .small.text-black-50 Celje, Slovenia
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:domen.hribernik4@gmail.com') domen.hribernik4@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4.mx-auto
                                .small.text-black-50 +386 70 700 817
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://github.com/domenhribernik' target='_blank')
                        i.fab.fa-github
                    a.mx-2(href='https://www.instagram.com/domen_hribernik/' target='_blank')
                        i.fab.fa-instagram
                    a.mx-2(href='https://www.linkedin.com/in/domen-hribernik-4081a121b/' target='_blank')
                        i.fab.fa-linkedin

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Domen Hribernik <script>document.write(new Date().getFullYear())</script>

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
